html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
} 

.appContainer {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 1em;
}
