html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
} 

.appContainer {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 1em;
}

/** Counter **/
.appContainer .appCounter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.7);
    color: #000;
    border-radius: 50%;
    padding: 0 0.3em;
    display: block;
    font-size: 10em;
    z-index: 2;
}

/** Video + canvas **/

.appContainer .appUserInput {
    position: relative;
    height: 50%;
    width: 100%;
    overflow: hidden;
}

.appContainer video {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.appUserInput .appCanvasContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
}

.appContainer .appCanvasContainer .appCanvas {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

/** Results panel **/
.appContainer .appPanel {
    position: relative;
    height: 20%;
    width: 100%;
    font-size: 1.3em;
    box-sizing: border-box;
    background: #3c3c3c;
    color: #cccccc;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

.appPanel .appResults {
    flex: 1 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.appResults .answer {
    flex: 0;
    padding: 0.5em;
    text-transform: uppercase;
}

.appResults .answer .value {
    font-weight: bold;
}

.appPanel .appRestart {
    flex: 1 0 0;
    align-self: center;
}

.appPanel .appRestartButton {
    padding: 0.25em 0.5em;
    font-size: 1em;
    border-radius: 1em;
}

.appPanel .resultText {
    flex: 1 0 0;
    align-self: center;
    font-size: 1.6em;
}

.appContainer.userWin {
    border: 1em dashed lightgreen;
    padding: 0;
}

.appContainer.userWin .resultText {
    color: lightgreen;
}

.appContainer.userLose .resultText{
    color: red;
}

.appContainer.userLose {
    border: 1em solid red;
    padding: 0;
}

.appContainer.draw {
    border: 1em dotted lightblue;
    padding: 0;
}

.appContainer.draw .resultText {
    color: lightblue;
} 

/** AI move **/

.appContainer .appVersusLabel {
    height: 10%;
    background: url('../img/versus_sign.png') 0 0 no-repeat;
    background-size: contain;
    background-position: center center;
}

.appContainer .appEnginePick {
    height: 20%;
    background: url('../img/thinking.svg') 0 0 no-repeat;
    background-size: contain;
    background-position: center center;
}

.appContainer .appEnginePick.rock {
    background-image: url('../img/rock.png');
}

.appContainer .appEnginePick.paper {
    background-image: url('../img/paper.png');
}

.appContainer .appEnginePick.scissors {
    background-image: url('../img/scissors.png');
}

.hide {
    visibility: hidden;
}

